Babel==2.6.0
bcrypt==3.1.4
blinker==1.4
cffi==1.11.5
click==6.7
et-xmlfile==1.0.1
Flask==1.0.2
Flask-Babel==0.11.2
Flask-Bcrypt==0.7.1
Flask-Excel==0.0.7
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-WTF==0.14.2
gunicorn==19.9.0
itsdangerous==0.24
jdcal==1.4
Jinja2==2.10
lml==0.0.1
MarkupSafe==1.0
openpyxl==2.5.5
psycopg2-binary==2.7.5
pycparser==2.18
pyexcel==0.5.8
pyexcel-io==0.5.7
pyexcel-webio==0.1.4
pytz==2018.5
six==1.11.0
texttable==1.4.0
Werkzeug==0.14.1
WTForms==2.2.1
