body, html{
     height: 100%;
 	font-family: 'Lato', sans-serif;
	    background-size: cover;
    margin-left:0px; !important
    margin-right:0px; !important
}

/*For Dashboard Page*/
.dashboard-stats{
    background-color:#f7f7f7;
    margin-left:2%;
    height:150px;
    margin-bottom:3.5%;
    margin-top:3.5%;
    border-bottom: 1px solid black;
}

.number-text-blue{
    font-weight:900;
    color:#2B75A0;
    padding-top:20px;
    margin-left:2%
}

.number-text-red{
    font-weight:900;
    color:#E76245;
    padding-top:20px;
    margin-left:2%
}

.heading-text{
    font-weight:900;
    font-size:130%;
}

.secondary-text{
    font-weight:300;

}

.graph-styling{
    width: 85%;
    margin-top:5%;
    margin-left:2%;
    margin-bottom:5%;
}

.btn-primary{
    background-color: #2B75A0;
    border-color:#2B75A0;
}

.btn-primary:hover{
    background-color: rgba(43, 117, 160, .75);
    border-color:  rgba(43, 117, 160, .75);

}

/*For Navigation Logout and Login Buttons*/

.btn-primary, .btn-outline-primary, .btn-secondary, .btn-outline-secondary, .btn-white, .btn-outline-white, .btn-success, .btn-outline-success, .btn-info, .btn-outline-info, .btn-warning, .btn-outline-warning, .btn-danger, .btn-outline-danger {
  font-size: .75rem;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: .3rem; }


.btn-outline-white, .btn-outline-white:visited {
  background: none;
  color: #fff;
  border-color: #fff;
}

.btn-outline-white:hover, .btn-outline-white:focus, .btn-outline-white:active {
  color: white;
  background: lightgrey; }

.link-white, link-white:visited {
  font-size: .75rem;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: .3rem;
  border: 0;
  color: #fff; }


 div{
     font-family: 'Lato', sans-serif;
     font-weight:bold;
        }

 /*Text Styling*/

 .title-text{
     font-size: 40px;
     font-weight:300;
     margin-top:5%;
 }
.header-text{
	text-transform: uppercase;
    font-weight:800;
    font-size:125%;

}
.answer{
    font-weight:300;
}
.main{
 	margin:50px 15px;
}

h1.title {
	font-size: 50px;
	font-weight: 400;
}

hr{
	color: #fff;
}

/*Currently used by attendance.html */
.inputbox-style{
    float:left;
    width:100%;
    height:5%;
    margin-top:3.5%;
}

.form-group{
	margin-bottom: 15px;
}
.form-label{
	text-align:left;
}
label{
	margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

/*for icons inside of search box*/
.search { position: relative; }
.search input { text-indent: 30px;}
.search .fa-search {
  position: absolute;
  top: 24px;
  left: 7px;
  font-size: 15px;
}

.main-login{
 	background-color: white;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);


}
.form-control {
    height: auto!important;
padding: 8px 12px !important;
}
.medium-form-control {
    height: 30px!important;
padding: 8px 12px !important;
    width: 300px !important;
    margin-left:75px;
}
.large-form-control {
    height: 36px!important;
    /*padding: 8px 12px !important;*/
    width: 420px !important;
    /*margin-left:75px;*/
}

.input-group {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
}
#button {
    border: 1px solid #ccc;
    margin-top: 28px;
    padding: 6px 12px;
    color: #666;
    text-shadow: 0 1px #fff;
    cursor: pointer;
    -moz-border-radius: 3px 3px;
    -webkit-border-radius: 3px 3px;
    border-radius: 3px 3px;
    -moz-box-shadow: 0 1px #fff inset, 0 1px #ddd;
    -webkit-box-shadow: 0 1px #fff inset, 0 1px #ddd;
    box-shadow: 0 1px #fff inset, 0 1px #ddd;
    background: #f5f5f5;
    background: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #eeeeee));
    background: -webkit-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -o-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -ms-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee', GradientType=0);
}
.main-center{
 	margin: 0 auto;
 	max-width: 500px;
    padding: 10px 40px;
	background:white;
	    color: #000000;
    text-shadow: none;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
    margin-top:3.5%

}

span.input-group-addon i {
    color: #009edf;
    font-size: 17px;
}

.login-button{
	margin-top: 5px;
}

.login-register{
	font-size: 11px;
	text-align: center;
}

/*For checkbox style and animation*/
input[type="checkbox"] {
            display: none;
        }

        input[type="checkbox"]:checked + label:after {
            max-width: 25px;
            opacity: 1;
            margin-right: 90px;
        }

        @-webkit-keyframes icon-beat {
            0% {
                -webkit-transform: scale(2);
                -ms-transform: scale(2);
                transform: scale(2);
            }
            100% {
                -webkit-transform: scale(1);
                -ms-transform: scale(1);
                transform: scale(1);
            }
        }

        @keyframes icon-beat {
            0% {
                -webkit-transform: scale(2);
                -ms-transform: scale(2);
                transform: scale(2);
            }
            100% {
                -webkit-transform: scale(1);
                -ms-transform: scale(1);
                transform: scale(1);
            }
        }

        input[type="radio"],
        input[type="checkbox"] {
            display: none;
        }

        input[type="radio"] + i:before,
        input[type="checkbox"] + i:before {
            font-size: 28px;
            height: 25px;
            width: 25px;
            display: inline-block;
        }

        input[type="radio"]:checked + i,
        input[type="checkbox"]:checked + i {
            position: relative;
            -webkit-animation: icon-beat 0.1s ease;
            animation: icon-beat 0.1s ease;
        }

        input[type="radio"]:checked + i + span,
        input[type="checkbox"]:checked + i + span {
            -webkit-transition: all 0.1s ease;
            transition: all 0.1s ease;
        }

        input[type="radio"] + i:before {
            content: "\f10c";
        }

        input[type="radio"]:checked + i:before {
            content: "\f111";
        }

        input[type="radio"]:checked + i + span,
        input[type="radio"]:checked + i:before {
            color: rgba(0, 128, 128, 0.5);
        }

        input[type="checkbox"] + i:before {
            content: "\f096";
        }

        input[type="checkbox"]:checked + i:before {
            content: "\f046";
        }

        input[type="checkbox"]:checked + i + span,
        input[type="checkbox"]:checked + i:before {
            color: rgba(0, 128, 0, 0.5);
        }


