@import "bootstrap";

// EXTRA SMALL DEVICES
@include media-breakpoint-up(xs) {
		.searchbar{
			width:85%;
		}
		.logo{
			width: 30%;
		}
		.main-center{
			width:95%;
		}
		.main-login{
			width:95%;
		}
		.mapsearch{
			width:100%;
		}
		.larger-container{
			padding-left:0;
    		padding-right:0;
			max-width: 100%;
		}
		.verbotext{
         		 font-size:200%;
      		}

		.homegrouptext{
        	font-size:150%;}

		.cover {
   			background-size: 250% !important;
		}
		    .verbobox {
             height: 75px;
			margin-top:30%;}

		 .findahomegroupbtn{
			 width:100%;
			 margin-bottom:30%;
			 margin-top:15%;
		 }
		.faq-box {
			width: 95%
		}

		.header-text{
			font-size:115%;
		}
		}

        //SMALL DEVICES
        @include media-breakpoint-up(sm) {
			.searchbar{
			width:85%;
			}
			.logo{
			width: 30%;
			}
			.main-center{
			width:95%;
			}

			.main-login{
				width:95%;
			}
			.mapsearch{
			width:100%;
			}
			.larger-container{
				padding-left:0;
				padding-right:0;
				max-width: 100%;
			}

			.verbotext{
         		 font-size:300%;
      		}
			.homegrouptext{
        	font-size:200%;}

			.cover {
   			background-size: 250% !important;
			}

			.verbobox {
             height: 75px;
			margin-top:30%}

			.findahomegroupbtn{
			 width:100%;
			margin-bottom:30%;
			margin-top:15%;
		 }
			.faq-box {
			width: 95%
		}
			.header-text{
			font-size:115%;
		}
		}

        // MID SIZED DEVICES
        @include media-breakpoint-up(md) {
		.searchbar{
			width:50%;
		}
			.logo{
			width: 15%;
		}
			.main-center{
			width:50%;
			}
			.main-login{
				width:50%;
		}
			.mapsearch{
			width:75%;
			}
			.larger-container{
				padding-left:2.5%;
				padding-right:2.5%;
				max-width: 85%;
			}
			.verbotext{
          font-size:300%;
      }
			.homegrouptext{
        	font-size:200%;}

			.cover {
   			background-size: 150% !important;
			}

			.verbobox {
             height: 100px;
			 margin-top: 10%;}

			.findahomegroupbtn{
			 width:50%;
			margin-bottom:30%;
				margin-top:1.5%;


		 }
		.faq-box {
			width: 75%
		}

			.header-text{
			font-size:125%;
		}

		}
        //LARGE DEVICES
        @include media-breakpoint-up(lg) {
			.searchbar{
			width:50%;
			}
			.logo{
			width: 15%;
		}
			.main-center{
			width:50%;
			}

			.main-login{
				width:35%;

			}
			.mapsearch{
			width:50%;
			}
			.larger-container{
				padding-left:2.5%;
				padding-right:2.5%;
				max-width: 85%;
		}
			.verbotext{
          font-size:300%;
      }
			.homegrouptext{
        	font-size:250%;}

			.cover {
				background-size: 100% !important;
			}

			.verbobox {
             height: 100px;
			 margin-top: 10%;}

			.findahomegroupbtn{
			 width:45%;
				margin-bottom:30%;
				margin-top:1.5%;
		 }
			faq-box {
			width: 50%
		}
			.header-text{
			font-size:125%;
		}

		}
        // EXTRA LARGE DEVICES
        @include media-breakpoint-up(xl) {
			.searchbar{
			width:50%;
		}
			.logo{
			width: 15%;
		}
			.main-login{
				width:35%;
			}
			.mapsearch{
			width:50%;
			}
			.larger-container{
				padding-left:2.5%;
				padding-right:2.5%;
				max-width: 85%;
		}
			.verbotext {
				 font-size: 300%;
			 }
		.homegrouptext{
        	font-size:250%;}

		.cover {
   			background-size: 100% !important;
			}

			.verbobox {
             height: 100px;
			 margin-top: 10%;}

			.findahomegroupbtn{
			 width:45%;
				margin-bottom:30%;
				margin-top:1.5%;
		 	}
			.faq-box {
			width: 50%
		}
			.header-text{
			font-size:115%;
		}
		}





