<section class="cover text-center">

{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}


<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<div class="container" style="color:black; margin-top:1.5%">
    <div class="row">
        <div class="col-lg-3" style="background-color:white;">
            <div style="background-color:#f7f7f7;margin-left:2%; height:150px; width:200px;margin-bottom:3.5%; margin-top:3.5%;">
                 <h1 style="font-weight:900;color:#2B75A0;padding-top:20px; padding-bottom:20px; margin-left:2%">{{homegroups.numberOfHomegroups}} </h1>
                HOME GROUPS
                <br> TOTAL NUMBER
            </div>
            <div style="background-color:#f7f7f7;margin-left:2%; height:150px; width:200px">
                 <h1 style="font-weight:bold;color:#E76245;padding-top:20px; padding-bottom:20px; margin-left:2%">{{active_homegroups.numberOfHomegroups}} </h1>
                    ACTIVE GROUPS
                <br>TOTAL NUMBER
            </div>
            <div style="background-color:#f7f7f7;margin-left:2%; height:150px; width:200px">
                 <h1 style="font-weight:bold;color:#2B75A0;padding-top:20px; padding-bottom:20px; margin-left:2%">{{members.numberOfMembers}} </h1>
                VERBO MEMBERS
                <br> ATTENDING HOME GROUPS
            </div>
            <div style="background-color:#f7f7f7;margin-left:2%; height:150px; width:200px">
                 <h1 style="font-weight:bold;color:#E76245;padding-top:20px; padding-bottom:20px; margin-left:2%">{{attendance_rate}} </h1>
                ATTENDANCE RATE
                <br>IN THE MONTH OF {{ currentMonth }}
            </div>
            <div style="background-color:#f7f7f7;margin-left:2%; height:150px; width:200px">
                 <h1 style="font-weight:bold;color:#2B75A0;padding-top:20px; padding-bottom:20px; margin-left:2%">{{homegroup_leaders.numberOfHomegroupLeaders}} </h1>
                GROUP LEADERS
                <br> TOTAL NUMBER
            </div>
        </div>
        <div class="col-lg-9" style="background-color:white;">
        <h1 class="title-text">ADMIN DASHBOARD</h1>
        <hr>

 <!--active_homegroups = db.number_of_active_homegroups()-->
    <!--members = db.number_of_members_attending_homegroups()-->
    <!--homegroup_leaders = db.number_of_homegroup_leaders()-->
    <!--homegroups = db.number_of_homegroups()-->


{#<div id="container" style="width: 48%; height: 45%; float:left; margin-left:2%"></div>#}
        <div id="line-chart" style="width:48%; height:45%;float:right; margin-right:2%" ></div>
        <div id="gender" style="padding-top:10px; width: 48%; height: 45%; float:left; margin-left:2%"></div>
        <div id="homegroupPie" style="padding-top:10px; width:48%; height:45%;float:right; margin-right:2%" ></div>

        <table id="datatable" hidden>
            <thead>
                <tr>
                    <th></th>
                    <th>Home Group</th>
                </tr>
            </thead>
            <tbody>
                {% for hg in hgdata %}
                <tr>
                    <th>{{ hg.name }}</th>
                    <td>{{ hg.membercount}}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
        <table id="genderTable" hidden>
            <thead>
                <tr>
                    <th></th>
                    <th>Gender</th>
                </tr>
            </thead>
            <tbody>
                {% for g in gender %}
                <tr>
                    <th>{{ g.gender }}</th>
                    <td>{{ g.membercount}}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>

        </div>
<script>
    Highcharts.chart('container', {
        data: {
            table: 'datatable'
        },
        chart: {
            type: 'column'
        },
        title: {
            text: 'Top 10 Home Groups '
        },
        yAxis: {
            allowDecimals: false,
            title: {
                text: 'Member Count'
            }
        },
        tooltip: {
            formatter: function () {
                return '<b>' + this.series.name + '</b><br/>' +
                    this.point.y + ' ' + this.point.name.toLowerCase();
            }
        }
    });
</script>





    <table id="attendanceReport" hidden>
    <thead>
        <tr>
            <th></th>

            <th>Total People</th>
        </tr>
    </thead>
    <tbody>
    {% for a in attendance_count%}
        <tr>
            <td>{{a.month}}</td>
            <td>{{a.countMembers}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div style="float:left; margin-left:2%">
<a href="{{url_for('all_homegroup_data')}}">Download Data</a>
</div>
  </div>
    </section>

<script>
Highcharts.chart('line-chart', {
    chart: {
        type: 'line'
    },
    title: {
        text: 'Total Attendance Report'
    },
    subtitle: {
        text: 'Monthly'
    },
    yAxis: {
        title: {
            text: '# of people'
        }
    },
    data: {
        table: 'attendanceReport'
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },

});

Highcharts.chart('gender', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Home Group Gender Report'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
    },
     data: {
            table: 'genderTable'
        },
});

Highcharts.chart('homegroupPie', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Home Groups'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
    },
     data: {
            table: 'datatable'
        },
});
</script>


{% endblock %}
