{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}


<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<h1 style="font-weight:bold;color:#E76245;padding-top:20px; padding-bottom:20px; margin-left:2%">Admin Dashboard</h1>
<div id="container" style="width: 48%; height: 45%; float:left; margin-left:2%"></div>
<div id="line-chart" style="width:48%; height:45%;float:right; margin-right:2%" ></div>
<div id="gender" style="padding-top:10px; width: 48%; height: 45%; float:left; margin-left:2%"></div>
<div id="homegroupPie" style="padding-top:10px; width:48%; height:45%;float:right; margin-right:2%" ></div>
<table id="datatable" hidden>
    <thead>
        <tr>
            <th></th>
            <th>Home Group</th>
        </tr>
    </thead>
    <tbody>
        {% for hg in hgdata %}
        <tr>
            <th>{{ hg.name }}</th>
            <td>{{ hg.membercount}}</td>
        </tr>
        {% endfor %}

    </tbody>
</table>
<table id="genderTable" hidden>
    <thead>
        <tr>
            <th></th>
            <th>Gender</th>
        </tr>
    </thead>
    <tbody>
        {% for g in gender %}
        <tr>
            <th>{{ g.gender }}</th>
            <td>{{ g.membercount}}</td>
        </tr>
        {% endfor %}

    </tbody>
</table>


<script>
    Highcharts.chart('container', {
        data: {
            table: 'datatable'
        },
        chart: {
            type: 'column'
        },
        title: {
            text: 'Top 10 Home Groups '
        },
        yAxis: {
            allowDecimals: false,
            title: {
                text: 'Member Count'
            }
        },
        tooltip: {
            formatter: function () {
                return '<b>' + this.series.name + '</b><br/>' +
                    this.point.y + ' ' + this.point.name.toLowerCase();
            }
        }
    });
</script>





    <table id="attendanceReport" hidden>
    <thead>
        <tr>
            <th></th>

            <th>Total People</th>
        </tr>
    </thead>
    <tbody>
    {% for a in attendance_count%}
        <tr>
            <td>{{a.month}}</td>
            <td>{{a.countMembers}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>



<script>
Highcharts.chart('line-chart', {
    chart: {
        type: 'line'
    },
    title: {
        text: 'Total Attendance Report'
    },
    subtitle: {
        text: 'Monthly'
    },
    yAxis: {
        title: {
            text: '# of people'
        }
    },
    data: {
        table: 'attendanceReport'
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },

});

Highcharts.chart('gender', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Home Group Gender Report'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
    },
     data: {
            table: 'genderTable'
        },
});

Highcharts.chart('homegroupPie', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Home Groups'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
    },
     data: {
            table: 'datatable'
        },
});
</script>

<div style="float:left; margin-left:2%">
<a href="{{url_for('all_homegroup_data')}}">Download Data</a>
</div>
{% endblock %}
