{%  extends "base.html" %}

{% block title %} Members Report {% endblock %}
{% block content %}

<h1>All Members</h1>
    <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th> First Name</th>
        <th> Last Name</th>
        <th> Email</th>

    </tr>
    </thead>
    <tbody>


    <tbody>
    {% for user in users %}
        <tr>
        <td> {{ user.first_name }}</td>
        <td> {{ user.last_name }}</td>
        <td> {{ user.email}}</td>

        </tr>
    {%  endfor %}
    </tbody>
    </table>




{% endblock %}