{%  extends "base.html" %}

{% block title %} All Members {% endblock %}
{% block content %}

<script>
    function hi(){
        {% if showInactive == True %}
            {% set showInactive = False %}
        {% endif %}
        {% if showInactive == False %}
            {% set showInactive = True %}
        {% endif %}
    }
</script>

<div class="container-fluid">
<h1>All Members</h1>
    <div class="row">
        <div class="col form-group pull-right">
            <div class="inner-addon right-addon">
                <i class="glyphicon glyphicon-search"></i>
                <input type="text" class="search form-control" placeholder="Search">
            </div>
        </div>
        <div class="col form-group pull-right">
            Show Inactive Members
        0 {{ showInactive }}
            {% if showInactive == True %}
{#                1 {{ showInactive }}#}
{#                {% set showInactive = True %}#}
                <a class="checkboxy" onclick="hi()"  href="{{url_for('all_members', members = members, inactiveMembers = inactiveMembers)}}"><button class="btn btn-secondary" > <span class="glyphicon glyphicon-ok"></span> </button></a>
{#                {% set showInactive = True %}#}
{#                2 {{ showInactive }}#}
{#                {% endif %}#}
            {% else %}
{#                3 {{ showInactive }}#}
                <a class="checkboxy" onclick="hi()" href="{{url_for('all_members', members = members, inactiveMembers = inactiveMembers)}}"><button class="btn btn-secondary"> &nbsp; &nbsp;</button></a>
{#                4 {{ showInactive }}#}
            {% endif %}
        </div>

        <div class="col form-group pull-left">
            <a href="{{url_for('create_member')}}" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span>
                Add Member
             </a>
        </div>
        <div class="col form-group pull-left">
            <a href="#" class="btn btn-primary">
                <span class="glyphicon glyphicon-envelope"></span>
                Contact
            </a>
        </div>
    </div>
</div>

<span class="counter pull-right"></span>
<table class="table table-striped table-bordered table-hover results">
    <thead>
    <tr>
        <th> First Name</th>
        <th> Last Name</th>
        {% if showInactive==True %}
            <th> Inactive? </th>
        {% endif %}
        <th> </th>
    </tr>
    </thead>
    <tbody>
    {% for member in members %}
    <tr>
        <td> {{ member.first_name }}</td>
        <td> {{ member.last_name }}</td>
        {% if showInactive==True %}
            <td> <button class="btn btn-secondary" disabled> &nbsp; &nbsp;</button></td>
        {% endif %}
        <td>
        <a href="{{url_for('edit_member', member_id = member.id)}}" class="btn btn-info btn-sm">
          <span class="glyphicon glyphicon-pencil"></span> Edit
        </a>
        <a href="{{url_for('deactivate_member', member_id = member.id)}}" class="btn btn-danger btn-sm">
          <span class="glyphicon glyphicon-trash"></span> Remove
        </a>
        </td>
    </tr>
    {% endfor %}
{#    {{ showInactive }}#}
    {% if showInactive==True %}
        {%  for inactiveMember in inactiveMembers %}
            <tr>
            <td> {{ inactiveMember.first_name }}</td>
            <td> {{ inactiveMember.last_name }}</td>
            <td> <button class="btn btn-secondary" disabled> <span class="glyphicon glyphicon-ok"></span> </button></td>
            <td>
            <a href="{{url_for('edit_member', member_id = inactiveMember.id)}}" class="btn btn-info btn-sm">
              <span class="glyphicon glyphicon-pencil"></span> Edit
            </a>
            <a href="{{url_for('reactivate_member', member_id = inactiveMember.id)}}" class="btn btn-success btn-sm">
              <span class="glyphicon glyphicon-plus"></span> Reactivate
            </a>
            </td>
        {% endfor %}
    {% endif %}
    </tbody>
</table>

</div>
{% endblock %}
