{% extends 'base.html' %}

{% block title %}Attendance Report{% endblock %}

{% block content %}

<h1>Attendance report</h1>
<input type="date" />
<table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Attendance</th>

    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>

        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
        <td>
            <form action="">
                <div class="radio">
              <label><input type="radio" name="optradio">Yes</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="optradio">No</label>
            </div>
            </form>
        </td>

    </tr>
    {% else %}
    <tr>
        <td colspan="4">No Info</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<input type="submit" class="btn btn-info welcome" value="Submit">

{% endblock %}
