{% extends 'base.html' %}

{% block title %}Attendance Report{% endblock %}

{% block content %}


{% if showusers != 'Y': %}
<h1>Attendance report</h1>
    <a href="{{url_for('get_attendance_dates', homegroup_id = currentHomegroup)}}"><button class="btn btn-primary"> <span class="glyphicon glyphicon-time"> </span> View Attendance History</button><br><br></a>
<form method = "POST">
<label>Date</label> <input type="date" name="AttendanceDate" /> <label>Time</label><input type="time" name = "AttendanceTime"><br>
<input type="submit" class="btn btn-info welcome" value="Generate Attendance Report">
</form>
{% endif %}
{% if showusers == 'Y': %}
<h1>Attendance Report </h1>
<h3>Date: {{date}} Time: {{time}}
<a href="{{url_for('attendance', homegroup_id = currentHomegroup )}}"><button class = "btn btn-success welcome"><span class="glyphicon glyphicon-plus"> </span> New Attendance Report</button></a></h3>
<br>
<table class="table table-striped table-bordered table-hover">


    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Attendance</th>

    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>

        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
        <td>
            {% if user.attendance == 0: %}
            <a href="{{url_for('updateAttendance', homegroup_id = currentHomegroup, user_id = user.id, meeting_id = meeting_id, attendance = 1)}}"><button class="btn btn-secondary" > &nbsp; &nbsp;  </button></a>
            {% else: %}
            <a href="{{url_for('updateAttendance', homegroup_id = currentHomegroup, user_id = user.id, meeting_id = meeting_id, attendance = 0)}}"><button class="btn btn-secondary" > <span class="glyphicon glyphicon-ok"></span></button></a>
            {% endif %}

        </td>

    </tr>
    {% else %}
    <tr>
        <td colspan="4">No Info</td>
    </tr>
    {% endfor %}
    {% endif %}
    </tbody>
</table>


{% endblock %}
