{% extends "base.html" %}

{% block title %}Mark Attendance{% endblock %}

{% block content %}

<h1>Mark Group Attendance</h1>
<table>
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Attendance</th>
    </tr>
    <tr>
        <td>John</td>
        <td>Doe</td>
        <td>
            <form action="">
                <input type="radio" value="radio1"> Yes<br>
                <input type="radio" value="radio2"> No<br>
            </form>
        </td>
    </tr>
    </thead>
</table>
<p><input type=submit value="Submit"></p>

{% endblock %}
