{% extends 'base.html' %}

{% block title %}Attendance Reports{% endblock %}

{% block content %}
    <div class="main-center">
        <h1 class="title-text stretchLeft">{{ _('Attendance Reports') }}</h1>
        <hr>
        <div class="container-fluid">
            <div class="row">
                <div class="col form-group pull-left">
                    <a href="{{ url_for('attendance', homegroup_id = currentHomegroup) }}"
                       class="btn btn-success welcome">
                        <i class="fa fa-plus"></i>&nbsp;
                        {{ _('New Attendance Report') }}
                    </a>
                </div>

            </div>
        </div>
        <table class="table table-striped table-bordered table-hover results">
            <thead>
            <tr>
                <th>{{ _('Date') }}</th>
                <th>{{ _('Time') }}</th>
                <th>{{ _('Action') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for record in records %}
                <tr>
                    <td>{{ record.date }}</td>
                    <td>{{ record.time }}</td>
                    <td>
                        <a href="{{ url_for('edit_attendance', homegroup_id = currentHomegroup, meeting_id = record.meeting_id) }}">
                            <button class="btn btn-info btn-sm">
                                <span class="fa fa-pencil"></span>
                                {{ _('Edit') }}
                            </button>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">{{ _('No Information') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

