<section class="cover text-center">
{% extends 'base.html' %}

{% block title %}Attendance Report{% endblock %}

{% block content %}


<div class="container">
            <div class="main-login main-center">
    <h1 class="title-text">Attendance Report</h1>
    <hr>
    <div class="row">
        <div class="col form-group pull-left">
            <a href="{{url_for('get_attendance_dates', homegroup_id = currentHomegroup)}}"><button class="btn btn-primary"> <span class="glyphicon glyphicon-time"> </span> View Attendance History</button><br><br></a>
        </div>
    </div>
    <div class="row">
        <div class="col form-group pull-left">
            <form method = "POST">
                <span class="col">
                    <span class="col form-group pull-left counter">
                        <h4><span class="label label-default">Date</span></h4>
                    </span>
                    <span class="col form-group pull-left counter">
                        <input type="date" id="datePicker" name="AttendanceDate" class="date"required/>
                    </span>
                    <span class="col form-group pull-left counter">
                        <h4><span class="label label-default">Time</span></h4>
                    </span>
                    <span class="col form-group pull-left counter">
                        <input class="date counter" id="timePicker" type="time" name = "AttendanceTime" required/><br>
                    </span>
                </span>
                <span class="col form-group pull-left counter">
                    <input type="submit" class="btn btn-info" value="Take Attendance">
                </span>
            </form>
        </div>
    </div>
            </div>


</div>

 </section>
<script>

    Date.prototype.toDateInputValue = (function() {
    var local = new Date(this);
    local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
    return local.toJSON().slice(0,10);
});
    Date.prototype.toTimeInputValue = (function() {
    var local = new Date(this);
    local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
    console.log(local.toJSON());

    return local.toJSON().slice(11,16);
});

    document.getElementById('datePicker').value = new Date().toDateInputValue();
    document.getElementById('timePicker').value = new Date().toTimeInputValue();

</script>
{% endblock %}
