<section class="cover text-center">
{% extends 'base.html' %}

{% block title %}{{ _('Attendance Report') }}{% endblock %}
{% block content %}
            <div class="attendance">
                <h1 class="title-text animated stretchLeft">{{ _('Attendance Report') }}</h1>
                <hr>
                <div class="row">
                    <div class="col form-group">
                        <a href="{{ url_for('get_attendance_dates', homegroup_id = currentHomegroup) }}">
                            <button class="btn btn-primary">{{ _('View Attendance History') }}</button>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col form-group">
                        <form method="POST">
                            <div class="container">
                            <span class="row">
                                <span class="col-6">
                                    <h4><span class="label label-default" style="float:left">{{ _('Date') }}</span></h4>
                                </span>
                                <span class="col-6">
                                    <h4><span class="label label-default" style="float:left">{{ _('Time') }}</span></h4>
                                </span>
                            </span>

{# FIXME: Markup here looks like it may be unbalanced #}

                                <span class="row">
                                  <span class="col-6">
                                    <input type="date" id="datePicker" name="AttendanceDate" class="date inputbox-style"
                                           required/>
                                </span>
                                 <span class="col-6 float-right">
                                     <input class="date inputbox-style" id="timePicker" type="time"
                                            name="AttendanceTime" required/><br>
                                </span>
                            </span>
                                <span class="col form-group">
                        <input type="submit" class="btn btn-info" value="{{ _('Take Attendance')}}" style="margin-top:10%">
                    </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        Date.prototype.toDateInputValue = (function () {
            var local = new Date(this);
            local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
            return local.toJSON().slice(0, 10);
        });
        Date.prototype.toTimeInputValue = (function () {
            var local = new Date(this);
            local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
            console.log(local.toJSON());

            return local.toJSON().slice(11, 16);
        });

        document.getElementById('datePicker').value = new Date().toDateInputValue();
        document.getElementById('timePicker').value = new Date().toTimeInputValue();

    </script>
{% endblock %}
