<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover {
            background-color: #111;
        }
    </style>
</head>
<body>
    <header>
        <ul>
          <li><a class="active" href="/users">Home</a></li>
          <li><a href="/attendance">Users</a></li>
          <li><a href="/user/create">Add User</a></li>
          <li><a href="#contact">Search</a></li>
          <li><a href="#about">Send</a></li>
        </ul>
    </header>
    {% if message %}
        <p>Note: {{ message }}</p>
    {% endif %}
    {% with messages = get_flashed_messages() %}
    {%  if messages %}
        <h2><div style="color:blueviolet">
            {% for message in get_flashed_messages() %}
                {{ message }}
            {% endfor %}
        </div>
        </h2>
    {% endif %}
{% endwith %}
    {% block content %}
    {% endblock %}
    <footer>
        <ul>
          <li><a class="active" href="#faq">FAQ</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
    </footer>
</body>
</html>