<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
</head>
<body>
    {% if message %}
        <p>Note: {{ message }}</p>
    {% endif %}
    {% with messages = get_flashed_messages() %}
    {%  if messages %}
        <h2><div style="color:blueviolet">
            {% for message in get_flashed_messages() %}
                {{ message }}
            {% endfor %}
        </div>
        </h2>
    {% endif %}
{% endwith %}
    {% block content %}
    {% endblock %}
</body>
</html>