{% extends 'base.html' %}

{% block title %}Create User Account{% endblock %}

{% block content %}


    <h1 class="head-style">Create User Account</h1>

    <form method = "POST" role="form" data-toggle="validator">
        <div class="form-group">
        {{ form.csrf_token }}

            <p><b>Email:</b> {{ email }}</p>


        <p>{{ form.password.label }}{{ form.password(class="form-control") }}</p>
        {% if form.password.errors %}
            <div class="alert alert-warning">
                Must Enter Valid Password
             </div>
        {% endif %}


        <p>{{ form.role.label }}{{ form.role(class="form-control") }}</p>

        <p id = 'homegroups' style="visibility:hidden"> {{ form.homegroups.label }}{{ form.homegroups(class="form-control") }}</p>

    </div>

        <p>{{ form.submit(class_='btn btn-default') }}</p>
    </form>


     <script>
    document.getElementById('role').onchange = function(){

        var role_id = document.getElementById('role')
        var role = role_id.options[role_id.selectedIndex].text;
        if (role == 'homegroup_leader') {
            document.getElementById('homegroups').style.visibility = 'visible';
        }
    }

    </script>
{% endblock %}