{% extends 'base.html' %}

{% block title %}Edit Home Group Information{% endblock %}

{% block content %}
    <h1> Edit Home Group</h1>
    <form method = "POST">
        <div class="form-group">
        {{ form.csrf_token }}
        <p> {{form.name.label}} {{form.name(class_='form-control')}}</p>
            <p> {{form.description.label}} {{form.description(class_='form-control')}}</p>
        <p> {{form.location.label}} {{form.location(class_='form-control')}}</p>
        <p> {{form.latitude.label}} {{form.latitude(class_='form-control')}}</p>
            <p> {{form.longitude.label}} {{form.longitude(class_='form-control')}}</p>
        <p> {{ form.submit(class_='btn btn-default')}}</p>


        </div>
    </form>
    <button class="btn btn-default" id="findLocation">Find Location</button>

    <iframe width=100% height="300px" src="../../homegroup/select_location">

</iframe>

{% endblock %}