{% extends 'base.html' %}

{% block title %}Edit Home Group Information{% endblock %}

{% block content %}
    <h1 class="head-style"> Edit Home Group</h1>
        <form method = "POST" role="form" data-toggle="validator">
        {{ form.csrf_token }}
        <p> {{form.name.label}} {{form.name(class_='form-control')}}</p>
            {% if form.name.errors %}
            <div class="alert alert-warning">
                Invalid Name
             </div>
        {% endif %}
            <p> {{form.description.label}} {{form.description(class_='form-control')}}</p>
            {% if form.description.errors %}
             <div class="alert alert-warning">
                Please add a description
             </div>
        {% endif %}
        <p> {{form.location.label}} {{form.location(class_='form-control')}}</p>
            {% if form.location.errors %}
             <div class="alert alert-warning">
                Please add an address
             </div>
        {% endif %}
        <p> {{form.latitude.label}} {{form.latitude(class_='form-control')}}</p>
          {% if form.latitude.errors %}
             <div class="alert alert-warning">
                Please add the Longitude
             </div>
        {% endif %}
            <p> {{form.longitude.label}} {{form.longitude(class_='form-control')}}</p>
         {% if form.longitude.errors %}
             <div class="alert alert-warning">
                Please add the Latitude
             </div>
        {% endif %}
        <p> {{ form.submit(class_='btn btn-default')}}</p>

        </div>
    </form>
    <button class="btn btn-default" id="findLocation">Find Location</button>

    <iframe width=100% height="300px" src="../../homegroup/select_location">

</iframe>

{% endblock %}