{% extends 'base.html' %}

{% block title %}{{ _('Attendance Report') }}{% endblock %}

{% block content %}
    <section class="cover text-center">
        <div class="main-login main-center">
            <h1 class="title-text animated stretchLeft">Attendance Report </h1>
            <hr>
            <h5><span style="padding-right:7%;">{{ date }}</span> <span style="padding-left:7%;">{{ time }}</span></h5>
            <hr>
            <br>
            <form method="POST" role="form" data-toggle="validator">
                <div class="form-group">
                    {{ form.csrf_token }}
                    <table class="table table-striped table-bordered table-hover" style="width:100% !important">
                        <thead>
                        <tr>
                            <th>{{ _('Name') }}</th>
                            <th>{{ _('Attendance') }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for member in members %}
                            <tr>
                                <td>{{ member.first_name }} {{ member.last_name }}</td>
                                <td style="text-align:center;">
                                    {% if member.attendance == 1 %}
                                        <span>
                                            <input type="checkbox" name="member_{{ member.member_id }}"
                                                   id="cbtest{{ member.member_id }}"
                                                   value="attend" checked/>
                                            <label for="cbtest{{ member.member_id }}" class="check-box"></label>
                                        </span>
                                    {% else %}
                                        <span style="text-align:center;">
                                            <input type="checkbox" name="member_{{ member.member_id }}"
                                                   id="cbtest{{ member.member_id }}"
                                                   value="attend"/>
                                            <label for="cbtest{{ member.member_id }}" class="check-box"></label>
                                        </span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">{{ _('No Info') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <p>
                        {{ form.submit(class_='btn btn-primary btn-lg btn-block') }}
                    </p>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
