{% extends 'base.html' %}

{% block title %}Edit Member{% endblock %}

{% block content %}
    <h1> Edit Member</h1>
    <form method = "POST">
        {{ form.csrf_token }}

        <p> {{form.first_name.label}} {{form.first_name()}}</p>
        <p> {{form.last_name.label}} {{form.last_name()}}</p>
        <p> {{form.email.label}} {{form.email()}}</p>
        <p> {{form.phone_number.label}} {{form.phone_number()}}</p>
        <p> {{form.gender.label}} {{form.gender()}}</p>
        <p> <label>Birthday</label><br><input type="date" name="Birthday" value="{{ bDay }}"/></p>
        <p> {{form.baptism_status.label}} {{form.baptism_status()}}</p>
        <p> <label>Join Date</label><br><input type="date" name="JoinDate" value="{{ joinDay }}"/></p><br>
        <p> {{form.submit(class_='btn btn-default')}}</p><br><br>
    </form>


{% endblock %}