{% extends 'base.html' %}

{% block title %}FAQ{% endblock %}

{% block content %}
<body class="faq">

<h1 class= "head-style"> Frequently Asked Questions</h1>
<h3><a class="link-color" href="{{url_for('faq_homegroup_leader')}}">Homegroup Leader FAQ</a></h3>
<h3><a class="link-color" href="{{url_for('faq_admin')}}">Admin FAQ</a></h3><br>
    <h3><b>How do I join a homegroup?</b></h3>
    <div> Check out the map on the homepage and find
        homegroups near you by typing in your address.
        Click <a class="link-color" href="{{url_for( 'index' )}}">here</a>
        to access the map. </div>
    <br>
    <h3><b>What type of homegroup should I join?</b></h3>
    <div>You can filter through certain demographics on the home page.</div>
    <br>

    <h3><b>Who is the best teacher?</b></h3>
    <div>Obvious.</div><br><br>

    <h4>Questions? <a class="link-color" href="mailto:verbovelocity@gmail.com?Subject=Website Support" target="_top">Contact Our Support Team</a></h4>

    <br>
    <br>

</body>
{% endblock %}
