{% extends 'base.html' %}

{% block title %}FAQ Homegroup Leader{% endblock %}

{% block content %}

<h1>Frequently Asked Questions - Homegroup Leader</h1><br><br>
    <h3><b>How do I add a person to a homegroup?</b></h3>
    <p>Click on the "Members" tab on the navigation bar, and then click "Add Member" at the top of the page.</p><br>
    <h3><b>How do I take attendance?</b></h3>
    <p>Click on "Attendance" tab on the navigation bar.
        Select the current date and time and click "Take Attendance".
        Click the check boxes next to a person's name if they are present. Leave blank if absent.
    </p><br>
    <h3><b>How do I edit/view past attendance reports?</b></h3>
    <p>On the "Attendance" page, click on "View Attendance History." Click "Edit" for the report you would like to view.</p><br>
    <h3><b>How do I edit my homegroup information?</b></h3>
    <p>Click on the "Homegroup Profile" tab, and edit your homegroup information using the form.</p><br>
{% endblock %}