<section class="cover text-center">

    <style>
        .homegroup-heading {
            font-family: 'Lato', sans-serif;
            font-weight: bold;
            font-size: 150%;
            text-align: left;
            border-top: 2px solid;
            background-color: #2B75A0;
            margin: 0;
            color: white;
            padding: 5%;
        }

        .glifarrows {
            text-align: right;

        }

        .homegroup-heading:hover {
            background-color: #235F82;
            cursor: pointer;

        }

        .homegroupcontent {
            display: inline;
        }

        .btn {
            padding: 14px 24px;
            border: 0 none;
            font-weight: 700;
            letter-spacing: 1px;
            text-transform: uppercase;
        }

        .btn:focus, .btn:active:focus, .btn.active:focus {
            outline: 0 none;
        }

        .btn-primary {
            background: #0099cc;
            color: #ffffff;
        }

        .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
            background: #33a6cc;
        }

        .btn-primary:active, .btn-primary.active {
            background: #007299;
            box-shadow: none;
        }

        .btn-primary.gradient {
            background: -moz-linear-gradient(top, #33a6cc 50%, #0099cc 50%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #33a6cc), color-stop(50%, #0099cc)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, #33a6cc 50%, #0099cc 50%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, #33a6cc 50%, #0099cc 50%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, #33a6cc 50%, #0099cc 50%); /* IE10+ */
            background: linear-gradient(to bottom, #33a6cc 50%, #0099cc 50%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33a6cc', endColorstr='#0099cc', GradientType=0); /* IE6-9 */
        }

        .btn-primary.gradient:hover, .btn-primary.gradient:focus, .btn-primary.gradient:active, .btn-primary.gradient.active, .open > .dropdown-toggle.btn-primary {
            background: -moz-linear-gradient(top, #66b2cc 50%, #33a6cc 50%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #66b2cc), color-stop(50%, #33a6cc)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, #66b2cc 50%, #33a6cc 50%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, #66b2cc 50%, #33a6cc 50%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, #66b2cc 50%, #33a6cc 50%); /* IE10+ */
            background: linear-gradient(to bottom, #66b2cc 50%, #33a6cc 50%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66b2cc', endColorstr='#33a6cc', GradientType=0); /* IE6-9 */
        }

        .btn-primary.gradient:active, .btn-primary.gradient.active {
            background: -moz-linear-gradient(top, #267c99 50%, #007299 50%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #267c99), color-stop(50%, #007299)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, #267c99 50%, #007299 50%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, #267c99 50%, #007299 50%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, #267c99 50%, #007299 50%); /* IE10+ */
            background: linear-gradient(to bottom, #267c99 50%, #007299 50%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#267c99', endColorstr='#007299', GradientType=0); /* IE6-9 */
        }

        .custombuttonwidth {
            width: 105px !important;
        }

        .homegroup-heading:hover > .active {
            animation: rotate180 .7s;
            animation-fill-mode: forwards;
        }

        @keyframes rotate180 {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotateX(180deg);
            }
        }


    </style>

    {% extends "base.html" %}
    {% block title %} All Home Groups {% endblock %}
    {% block content %}

        <div class="larger-container">
            <h1 class="title-text animated stretchLeft">All Home Groups</h1>
            <hr>
            <div class="row">
                <div class="col form-group float-left">
                    <a href="{{ url_for('create_homegroup') }}" class="btn btn-success">
                        <span class="fa fa-plus"></span>
                        Add Home Group
                    </a>
                </div>
                <div class="col form-group pull-right">
                    <div class="section section--sade">
                        Show Inactive Home Groups
                        <div class="toggle-button toggle-button--sade">
                            <input id="checkbox1" type="checkbox" checked=''>
                            <label for="checkbox1"></label>
                            <div class="toggle-button__icon"></div>
                        </div>
                    </div>
                </div>

                  <div class=" form-group col-sm-4 " >
                        <div class=" input-group">
                            <input type="text" class="search form-control" placeholder="Search">
                            <span class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>

                <span class="counter pull-right"></span>
                <table class="table table-striped table-bordered table-hover results">
                    <thead>
                    <tr>
                        <th> Name</th>
                        <th> Location</th>
                        <th></th>
                        <th class="content">Active?</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for homegroup in homegroup_list %}
                        {% if homegroup.is_active == 1 %}
                            <tr>
                                <td> {{ homegroup.name }}</td>
                                <td> {{ homegroup.location }}</td>
                                <td>
                                    <a href="{{ url_for('edit_homegroup', homegroup_id = homegroup.id) }}"
                                       class="btn btn-info btn-sm">
                                        <span class="fa fa-pencil"></span> Edit
                                    </a>
                                    <a href="{{ url_for('get_homegroup_members', homegroup_id = homegroup.id) }}"
                                       class="btn btn-warning btn-sm">
                                        <span class="fa fa-user"></span> Members
                                    </a>
                                    <a href="{{ url_for('homegroup', homegroup_id = homegroup.id) }}"
                                       class="btn btn-primary btn-sm">
                                        <span class="fa fa-clock-o"></span> Attendance
                                    </a>

                                    <a style="color:white"
                                       class="btn btn-danger btn-sm" data-toggle="modal"
                                       data-target="#homegroupModal"
                                       data-url="{{ url_for('deactivate_homegroup', homegroup_id = homegroup.id) }}"
                                       data-homegroup="{{ homegroup.name }}">
                                        <span class="fa fa-trash"></span> Remove
                                    </a>

                                </td>
                                <td class="content"><span style="color:green" class="fa fa-check-square-o"></span></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    {% for inactiveHomegroup in inactiveHomegroups %}
                        <tr>
                        <td class="content"> {{ inactiveHomegroup.name }}</td>
                        <td class="content"> {{ inactiveHomegroup.location }}</td>
                        <td class="content">
                            <a href="{{ url_for('reactivate_homegroup', homegroup_id = inactiveHomegroup.id) }}"
                               class="btn btn-success btn-sm">
                                <span class="fa fa-plus"></span> Reactivate
                            </a>
                        </td>
                        <td class="content"><span style="color:red" class="fa fa-times"></span></td>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        </section>
        <div class="modal fade" id="homegroupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="color:black">
                        ...
                    </div>
                    <div class="modal-footer">
                        <a href="#0" id="modal-confirm">
                            <button type="button" class="btn btn-primary">
                                Confirm
                            </button>
                        </a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}

