<section class="cover text-center">


    {% extends 'base.html' %}

    {% block title %}Home Group Locator{% endblock %}

    {% block content %}

{#        This creates the sun loader on the index page     #}
        <style>
            .no-js #loader {
                display: none;
            }

            .js #loader {
                display: block;
                position: absolute;
                left: 100px;
                top: 0;
            }

            .se-pre-con {
                position: fixed;
                left: 0px;
                top: 0px;
                width: 100%;
                height: 100%;
                z-index: 9999;
                background: url(/static/sun.gif) center no-repeat white;
            }

            .main-center {

                max-width: 1300px;

            }


        </style>

        <script>
            $(window).on("load", function () {
                // Animate loader off screen
                $(".se-pre-con").fadeOut("slow");
{#                var verbobox = document.getElementById("verbobox");#}
{#                verbobox.classList.add("animated");#}
{#                verbobox.classList.add("expandOpen");#}
{#                var verbotext = document.getElementById("verbotext");#}
{#                verbotext.classList.add("animated");#}
{#                verbotext.classList.add("pullUp");#}
{#                var homegrouptext = document.getElementById("homegrouptext");#}
{#                homegrouptext.classList.add("animated");#}
{#                homegrouptext.classList.add("pullDown");#}

            });

            // function resize_iframe(){
            //     document.getElementById('mapIframe').style.height = document.body.scrollHeight  / 1.75 + 'px';
            // }


           function map_zip() {
              var iframe = document.getElementById('mapIframe');
              iframe.src = iframe.src;
          }
{#            window.onresize = function () {#}
{#                resize_iframe();#}
{#            }#}
{#            window.onload = function () {#}
{#                resize_iframe();#}
{#            }#}
        </script>

        <div class="container">
            <div class="row">
                <div class="verbobox draw" id="verbobox">
                    <div class="verbotext" id="verbotext">VERBO CRISTIANA</div>
                    <div class="homegrouptext" id="homegrouptext">HOME GROUP FINDER</div>

                </div>
                <br><br>
            </div>
            <div class="row">
                <div class="col" style="text-align:center !important;">
                    <a href="#bottom">
                        <button type="button" class="btn findahomegroupbtn custom-btn btn-12"> FIND A HOME GROUP
                        </button>
                    </a>
                </div>
            </div>
        </section>

        <div class="container larger-container" style="padding:3.5%;">
            <h2 id="bottom" class="title-text">Find a Home Group</h2>
            <div class="row">
                <div class="col-12">
                    <!--{#            <input type="text"  id="zip" class = "form-control" placeholder = "Enter Zip Code or Address"></input>#}-->
                    <!--{#            <button class="btn btn-info" onclick="map_zip()"> Search </button><br><br>#}-->
                    <div class="input-group mapsearch">
                        <input type="text" id="zip" class="search form-control" placeholder="Enter Zip Code or Address">
                        <span style="cursor:pointer" class="input-group-addon" onclick="map_zip()">
                                <i class="fa fa-search"></i>
                            </span>
                    </div>
                </div>

            </div>
            <div class="row" style="margin-top:7.5%">
                <iframe id="mapIframe" height="75%" width="100%" class="embed-responsive-item" src="../../map">

                </iframe>
            </div>
        </div>
        <br>

    {% endblock %}

