{% extends 'base.html' %}

{% block title %}Home Group Locator{% endblock %}

{% block content %}
    <script>
    function resize_iframe(){
        document.getElementById('mapIframe').style.height = document.body.scrollHeight  / 1.75 + 'px';
    }

    function map_zip(){
        var iframe = document.getElementById('mapIframe');
        iframe.src = iframe.src;
    }
  window.onresize = function(){
        resize_iframe();
  }
  window.onload = function(){
    resize_iframe();
  }
</script>
    <br>
    <img height="137px" width="300px" src="../../static/Logo-Verbo.png">
    <br><br>
    <h2>Find A Home Group</h2><br>
    <div class = "container">
    <div class = "row">
        <div class = "col-md-4">
        <input type="text"  id="zip" class = "form-control" placeholder = "Enter Zip Code or Address"></input>
           </div>
            <div class="col-md-2"><button class="btn btn-info" onclick="map_zip()"> Search </button></div><br><br>


        </div><br><br>
        <div class = "row">
        <iframe id="mapIframe" class="embed-responsive-item" width="100%"src="../../map">

     </iframe>
    </div>
    </div>
{% endblock %}