{% extends 'base.html' %}

{% block title %}{{ _('Add Home Group Member') }}{% endblock %}

{% block more_style %}
    <style>
        .table-responsive {
            display: table;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="larger-container">
        <h1 class="title-text stretchLeft">{{ _('Add Home Group Member') }}</h1>
        <hr>
        <div class="container-fluid ">
            <div class="row">
                <div class="col col-md-6 form-group ">
                    <div class="float-left">
                        <a href="{{ url_for('create_new_member_for_homegroup', homegroup_id = homegroup_id) }}"
                           class="btn btn-success float-left">
                            <span class="fa fa-plus"></span>
                            {{ _('Create New Member') }}
                        </a>
                    </div>
                </div>
                <div class="col col-md-6  form-group float-right">
                    <div class="inner-addon right-addon">
                        <input type="text" class="search form-control" placeholder="{{ _('Search') }}">
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover results w-100 d-block d-md-table">
                <thead>
                <tr>
                    <th>{{ _('Name') }}</th>
                    <th>{{ _('Email') }}</th>
                    <th>{{ _('Action') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for member in all_members %}
                    <tr>
                        <td>{{ member.first_name }} {{ member.last_name }}</td>
                        <td>{{ member.email }}</td>

                        <td>
                            <div class="d-none d-md-block">
                                <a href="{{ url_for('add_member_to_homegroup', homegroup_id = homegroup_id, member_id = member.id  ) }}"
                                   class="btn btn-success btn-sm">
                                    <span class="fa fa-plus"></span>
                                    {{ _('Add to Home Group') }}
                                </a>
                            </div>

                            <div class="d-md-none">
                                <a href="{{ url_for('add_member_to_homegroup', homegroup_id = homegroup_id, member_id = member.id  ) }}"
                                   class="btn btn-success btn-sm">
                                    <span class="fa fa-plus"></span>
                                    {{ _('Add') }}
                                </a>
                            </div>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">{{ _('No Info') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
