<html>
<body>
<h2>{{ _('Hello from Verbo') }}</h2>
<h3>{{ _('We miss you!') }}</h3>
<p>{{ _('We have noticed you have missed') }}
    <b>{{ num_misses }}</b>
    {{ _('consecutive meetings') }}
</p>
<p>{{ _('Would you like to contact your home group leader?') }}</p>
<p>{{ _('Home Group Leader Info') }}</p>
<table>
    <tr>
        <th>{{ _('Name') }}</th>
        <th>{{ _('Phone') }}</th>
        <th>{{ _('Email') }}</th>
    </tr>
    <tr>
        <td>{{ leader_name }}</td>
        <td>{{ leader_phone }}</td>
        <td>{{ leader_email }}</td>
    </tr>
</table>
<h3>{{ _('We hope to see you again!') }}</h3>
</body>
</html>