<section class="cover text-center">

{% extends 'base.html' %}

{% block title %}Update Password{% endblock %}

{% block content %}
<style>
    body, html {
        height: 100%;
    }

    </style>
    <div class="container">

				<div class="main-login main-center" style="margin-top:3.5%">
                     <p class="title-text" > Update Password</p>
                    <hr>
                            <h3 style="padding-bottom:4%">Email:       {{ email }}</h3>
					 <form method = "POST" role="form" data-toggle="validator">

						<div class="form-group">
							 {{ form.csrf_token }}
                             <p class="form-label">{{ form.old_password.label }}{{ form.old_password(class='form-control') }}</p>
						</div>
                         <div class="form-group">
							 <p class="form-label">{{ form.new_password.label }}{{ form.new_password(class="form-control") }}</p>
						</div>

                         <div class="form-group">
							 <p class="form-label">{{ form.confirm_password.label }}{{ form.confirm_password(class="form-control") }}</p>
						</div>

						<div class="form-group ">
                              <p class="form-label"> {{ form.submit(class_='btn btn-primary btn-lg btn-block', style="display: block; width: 100%; font-family: 'Questrial', sans-serif;")}}</p>
						</div>
					</form>
				</div>
			</div>

{% endblock %}
</section>